// Breakpoints
//
$xs:              320px !default;
$xs-landscape:    480px !default;
$sm:              767px !default;
$pre-sm:          $sm - 1;
$md:              996px !default;
$lg:              1200px !default;
$xlg:             1600px !default;

// colors
$global-color: white;
$brand-primary: #b086fd;
$pagination-color: #6100a8;
$text-color: $global-color;
$link-color: $global-color;
$body-bg: transparent;
$headings-color: $global-color;

$slider-color: #7b36ce;

$case-hover-color: rgba(97,0,168,.5);

// utilities
$bd: bold;
$it: italic;

// font families
$font-family-base: 'OpenSans', sans-serif;
$font-family-secondary: 'Arial', sans-serif;
$headings-font-family: $font-family-base;


// font sizes
$font-size-base: 15px;
$font-size-lg: 16px;
$font-size-md: 14px;
$font-size-md-xs: 13px;
$font-size-xs: 12px;


$font-size-slider-title: 28px;
$font-size-slider-subtitle: 18px;


// line heights
$line-height-base: 1.2;
$line-height-normal: 1;

// Headings
$headings-line-height: 1.3;
$headings-font-weight: $bd;

// headings font sizes
$font-size-h1: $font-size-lg;
$font-size-h2: $font-size-base;
$font-size-h3: $font-size-md;
$font-size-h4: $font-size-md-xs;
$font-size-h5: $font-size-xs;
$font-size-h6: $font-size-xs;


// transition
$asd-transition: .15s ease-in-out;