@import 'bourbon/bourbon';
@import "neat/neat";
@import "vars";
@import "project/extends";
@import "project/mixins/mixins";
@import "project/layouts/layouts";
@import "project/modules/modules";

body {
  background: {
    image: url(./../img/main-bg-mob.jpg);
    size: cover;
    position: 50% 100%;
    repeat: no-repeat;
  }

  @include sm {
    background: {
      image: url(./../img/main-bg.jpg);
    }
    min-height: calc(100vh - 10px);
  }
  @include md {
    min-height: 100vh;
  }
}

.text-content {
  margin-top: 35px;

  h1, h1 {
    margin-top: 0;
  }

  p {
    text-align: justify;

  }
  .cite {
    @include sm {
      margin-bottom: 25px;
    }
  }
}

.cite {
  color: $brand-primary;
  font: {
    size: $font-size-md;
    style: italic;
  }
  text-align: justify;

  @include sm {
    @include span-columns(3);
    @include position(absolute, -115px null null 0);
    z-index: 1;
    text-align: left;
  }
}

.not-main-page {
  margin-top: 10px;

  @include sm {
    min-height: 512px;
    margin-top: 35px;
  }
}

.aside {
  margin-bottom: 22px;

  @include sm {
    margin-bottom: 0;
    @include span-columns(3);
  }
}

.bar {
  @include sm {
    @include span-columns(9);
  }
}

#map {
  @include max-sm {
    display: none;
  }

  @include size(100% 512px);
}

.contact-list {
  font-size: $font-size-base;

  @include sm {
    margin-bottom: 70px;
  }

  .main {
    margin-bottom: 30px;
    font-weight: bold;

    a,
    span {
      display: block;
      font-weight: normal;
      padding: 5px 0;

      &:nth-of-type(1) {
        padding-top: 7px;
      }

    }

    a {
      transition: .1s;

      &:hover {
        color: $brand-primary;
      }
    }
  }
}

.nav-contact {
  position: relative;
  @extend %bold-uppercase;
  @extend %transition;
  overflow: hidden;

  &:hover {
    color: $brand-primary;

    &:after {
      background: $brand-primary;
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    @include size(100% 2px);
    background: $global-color;
    @extend %transition;
  }
}

.aside-title {
  margin-bottom: 30px;
  @extend %bold-uppercase;
}

.tabs {
  @include list-unstyled;
  @include size-reset;

  > li {
    display: block;
    padding: 5px 0;
    text-align: center;

    @include sm {
      padding: 10px 0;
      text-align: left;
    }

    a {
      position: relative;
      line-height: 1.75;
      @extend %transition;

      &:after {
        content: '';
        @include position(absolute, null null -3px 0);
        @include size(100% 1px);
        background: $brand-primary;
        will-change: transform;
        transform: translate(0, -100%);
        opacity: 0;
        @extend %transition;
      }

      &:hover,
      &.active {
        color: $brand-primary;

        &:after {
          opacity: 1;
          transform: none;
        }
      }
    }
  }
}

.tab {
  &-title {
    font-weight: bold;
    padding-bottom: 5px;
  }
  &-content {

    @include max-sm {
      margin-top: 20px;
    }

    p {
      line-height: 1.8;
    }

    ul {
      padding-left: 15px;
      li {
        line-height: 1.8;
        list-style-type: none;
        &:before {
          content: '-';
          padding-right: 5px;
        }
      }
    }

    p + ul {
      margin-top: -15px;
    }
  }
}

.side-nav {
  ul {
    @include list-unstyled;
    @include size-reset;

    li {
      display: block;
      padding: 5px 0;

      @include max-sm {
        text-align: center;
      }

      a {
        position: relative;

        &,
        &:after {
          @extend %transition;
        }

        &:hover {
          color: $brand-primary;

          &:after {
            transform: none;
            opacity: 1;
          }
        }

        &:after {
          content: '';
          @include position(absolute, null null -3px 0);
          @include size(100% 1px);
          background: $brand-primary;
          will-change: transform;
          opacity: 0;
          transform: translateY(-300%);
        }
      }

      &.active {
        a {
          color: $brand-primary;

          &:after {
            transform: none;
            opacity: 1;
          }
        }
      }
    }
  }
}

.clients {
  @include clearfix;

  @include sm {
    padding-top: 22px;
  }

  &-block {
    position: relative;
    min-height: 70px;
    margin-bottom: 20px;
    @include span-columns(6);
    @include omega(even);

    @include sm {
      @include span-columns(3);
      @include omega(4n);
    }

    > img {
      @include img-responsive();
      max-height: 70px;
      @include position(absolute, 50% null null 50%);
      transform: translate(-50%, -50%);
    }
  }
}

.review {
  @include sm {
    @include clearfix;
  }
  &-img {
    position: relative;
    min-height: 70px;

    @include max-sm {
      margin-bottom: 10px;
    }

    @include sm {
      @include span-columns(3);
    }

    > img {
      @include img-responsive();
      max-height: 70px;
      @include position(absolute, 50% null null 50%);
      transform: translate(-50%, -50%);
    }
  }

  &-content {
    @include sm {
      @include span-columns(9);
    }
    min-height: 140px;
    margin-bottom: 30px;

    .name {
      font-weight: bold;
      span {
        display: block;
        font-weight: normal;
      }
    }

    .text {
      padding-top: 15px;
      font-style: italic;
    }
  }
}

.case-page {

  .bar {
    @include clearfix;

    .case-content {
      position: relative;
      display: block;
      margin-bottom: 15px;
      height: 200px;
      overflow: hidden;

      @include sm{
        @include span-columns(4);
        @include omega(3n);
        height: 142px;
        margin-bottom: 11px;
      }

      &:hover {
        img {
          transform: scale(1.5) rotate(-5deg);
        }
        &:after {
          transform: scale(1);
        }
        .case-title {
          opacity: 1;
        }
      }

      &:after {
        content: '';
        @include size(100%);
        @include position(absolute, 0 null null 0);
        background: $case-hover-color;
        z-index: 1;
        will-change: transform;
        @extend %transition;
        transform: scale(0);
      }

      > img {
        @include img-responsive;
        will-change: transform;
        transition: transform .75s ease;

        @include max-sm{
          @include size(auto 200px);
          min-width: 300px;
          max-width: 300px;
          @include position(absolute, 50% null null 50%);
          transform: translate(-50%,-50%);
        }

        @include sm-md {
          transform: scale(1.5);
        }
      }

      .case-title {
        @include position(absolute, 50% null null 25px);
        transform: translate(0, -50%);
        font-size: 22px;
        font-weight: bold;
        z-index: 2;
        opacity: 0;
        transition: .15s .1s ease-in-out;

        @include sm{
          font-size: $font-size-base;
        }

        .name {
          margin-top: 6px;
        }
      }
    }
  }
}

.case-advertise-block {
  .title {
    font-weight: bold;
    padding-bottom: 10px;
  }

  .img {
    height: 282px;
    margin-bottom: 20px;
    background: {
      size: contain;
      repeat: no-repeat;
      position: 50% 50%;
      //color: $global-color;
    }
  }
}