//// OpenSans (google fonts (ttf) -> generate with fontsquirrel to woff woff2)
////
//// regular
//@font-face {
//  font-family: 'OpenSans';
//  src:
//  url('../fonts/OpenSans-Regular.woff2') format('woff2'),
//  url('../fonts/OpenSans.woff') format('woff');
//  font-weight: normal;  font-style: normal;
//}
//// bold
//@font-face {
//  font-family: 'OpenSans';
//  src:
//  url('../fonts/OpenSans-Bold.woff2') format('woff2'),
//  url('../fonts/OpenSans-Bold.woff') format('woff');
//  font-weight: normal;  font-style: normal;
//}
//// italic
//@font-face {
//  font-family: 'OpenSans';
//  src:
//  url('../fonts/OpenSans-Italic.woff2') format('woff2'),
//  url('../fonts/OpenSans-Italic.woff') format('woff');
//  font-weight: normal;  font-style: italic;
//}
