//
// Typography
// --------------------------------------------------


// Headings
// -------------------------

h1, .h1 { font-size: $font-size-md; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  //text-transform: uppercase;
}

h1, .h1{
  margin-top: 20px;
  margin-bottom: 20px;

  @include sm{
    margin-top: 70px;
  }

  line-height: $line-height-normal;
}

h2, .h2{
  line-height: $line-height-normal;
}

h2, .h2,
h3, .h3{
  margin-top: 50px;
  margin-bottom: 30px;
}

h4, .h4,
h5, .h5,
h6, .h6{
  font-weight: $bd;
}



h4, .h4{
  margin-top: 30px;
  margin-bottom: 20px;
}

h5, h6,
.h5, .h6 {
  text-transform: none;
}

h5, .h5{
  margin-top: 20px;
  margin-bottom: 10px;
}

h6, .h6 {
  margin-top: 15px;
  margin-bottom: 10px;
}

// Body text
// -------------------------

p {
  margin: 0 0 20px;
}


// Unordered and Ordered lists
ul,
ol {
  margin-top: 0;
  margin-bottom: 15px;
  ul,
  ol {
    margin-bottom: 0;
  }
}

.italic{
  font-style: $it;
}
.bold{
  font-weight: $bd;
}

