footer.footer(role='contentinfo')
    .footer-side-left
        .logo
            img(src='./dist/img/logo.png')
        .copyright РМА ТАКОМА. Все права защищены
    .footer-side-right
        .footer-contacts
            span 03022, г. Киев, ул. Васильковская, 30, оф. 215
            span тел.: /044/ 500 13 96, info@takoma.com.ua
