header(role='banner').header
    a(href='index.html', role='link', title='На главную').logo
        img(src='./../img/logo.png')
    .right-block
        .header-contacts
            ul(role='list')
                li(role='listitem')
                    a(role='button' href='tel:0445001396') тел.: /044/ 500 13 96
                li(role='listitem')
                    a(role='button' href='mailto:info@takoma.com.ua') info@takoma.com.ua
        nav.nav(role='navigation')
            ul(role='list')
                li(role='listitem')
                    a(href='index.html' role='link' title='Главная')
                        span Главная
                li(role='listitem')
                    a(href='#' role='link' title='Кейс')
                        span Кейс
                li(role='listitem')
                    a(href='clients.html' role='link' title='Клиенты')
                        span Клиенты
                li(role='listitem')
                    a(href='contacts.html' role='link' title='Контакты')
                        span Контакты