mixin case(img, name, company)
    a(href='case-advertise.html' role='link').case-content
        img(src='./dist/img/case/case-' + img + '.jpg')
        .case-title
            .company= company
            .name= name


mixin clients(img)
    .clients-block
        img(src='./dist/img/clients/#{img}')
