script(src="./bower_components/jquery/dist/jquery.min.js")
script(src="./bower_components/placeholdem/placeholdem.min.js")
script(src="./bower_components/Swiper/dist/js/swiper.min.js")
script(src="./dist/js/app.js")


