.footer {
  position: relative;
  padding: 25px 0;
  @include container;
  @include clearfix;

  &-side {
    &-left {
      @include max-sm {
        text-align: center;
      }

      @include sm {
        float: left;
      }
    }
    &-right {
      @include max-sm {
        text-align: center;
      }

      @include sm {
        float: right;
      }
    }
  }

  &-contacts {
    position: relative;
    margin-top: 15px;

    @include sm {
      top: 25px;
      margin-top: 0;
    }

    span,
    a {
      display: inline-block;
      font-size: $font-size-xs;
      color: $brand-primary;
    }

    @include sm {
      span {
        display: block;
      }
    }

    @include max-sm {
      text-align: center;
    }

  }

  .logo {
    float: none;
    > img {
      @include size(75px 50px);

      @include max-sm {
        margin: auto;
      }
    }

    @include sm {
      display: inline-block;
      margin-top: 0;
    }
  }

  .copyright {
    font-size: $font-size-md-xs;
    color: $brand-primary;
    margin-top: 10px;

    @include sm {
      display: inline-block;
      margin-top: 0;
      margin-left: 15px;
      vertical-align: baseline;
    }
  }
}