.header {
  margin-left: auto;
  margin-right: auto;
  @include clearfix;

  @include sm {
    max-width: 680px;
    height: 168px;
  }

  @include md {
    max-width: 880px;
  }
}

.logo {
  display: block;

  @include max-sm {
    margin-top: 13px;
  }

  @include sm {
    margin-top: -12px;
    float: left;
  }

  > img {
    display: block;
    @include img-responsive;

    @include max-sm {
      margin: auto;
    }
  }
}

.right-block {
  @include sm {
    float: right;
  }
}

.header-contacts {
  text-align: center;

  @include sm {
    text-align: right;
  }

  ul {
    @include list-unstyled;
    @include size-reset;

    li {
      position: relative;
      display: inline-block;

      &:nth-last-of-type(1) {
        a {
          margin: 0;
        }
      }

      &:not(:nth-of-type(1)) {
        &:before {
          content: '';
          display: block;
          @include position(absolute, null null -1px -7px);

          @include sm {
            left: -17px;
          }
          background: {
            image: url(./../img/contacts-divider.png);
            position: 50% 50%;
            repeat: no-repeat;
          }
          @include size(30px 68px);
        }
      }

      a {
        display: block;
        padding: 15px 5px 0;
        font: {
          size: $font-size-base;
          family: $font-family-secondary;
        }

        @include sm {
          padding: 15px 0 0;
          margin-right: 21px;
          font-size: $font-size-lg;
        }
      }
    }
  }
}

.nav {
  margin: 25px 0 0;

  @include md {
    margin: 25px 76px 0 0;
  }

  ul {
    @include list-unstyled;
    @include size-reset;
    @include clearfix;

    li {
      float: left;

      @include max-sm{
        width: 24%;

        &:nth-of-type(1){
          margin-left: 2%;
        }
      }

      &.active {
        a {
          span {
            &:after {
              transform: translate(0);
              opacity: 1;
            }
          }
        }
      }

      a {
        position: relative;
        display: block;
        padding: 63px 0 25px;
        font: {
          size: $font-size-base;
          family: $font-family-secondary;
        }

        @include max-sm{
          text-align: center;
        }

        @include sm{
          padding: 63px 29px 34px;
        }

        @include md {
          padding: 63px 39px 34px;
        }

        &:before {
          content: '';
          @include size(60px);
          @include position(absolute, 0 null null 50%);
          z-index: 1;
          background: {
            repeat: no-repeat;
            position: 50% 50%;
            size: contain;
          }
          transform: translateX(-50%);
          will-change: transform;
          @extend %transition;
        }
        @include sm {
          span {
            position: relative;

            &:after {
              content: '';
              @include size(100% 1px);
              @include position(absolute, null null -1px 0);
              background: $global-color;
              will-change: transform;
              transform: translate(0, -200%);
              opacity: 0;
              @extend %transition;
            }
          }
        }

        &:hover {

          span {
            &:after {
              transform: translate(0);
              opacity: 1;
            }
          }

        }
      }
      &:nth-of-type(1) {
        a {
          &:before {
            background-image: url(./../img/icon-1.png);
          }

          &:hover {
            background-image: url(./../img/icon-1-active.png);
          }
        }
      }
      &:nth-of-type(2) {
        a {
          &:before {
            background-image: url(./../img/icon-2.png);
          }
          &:hover {
            &:before {
              background-image: url(./../img/icon-2-active.png);
            }
          }
        }

      }
      &:nth-of-type(3) {
        a {
          &:before {
            background-image: url(./../img/icon-3.png);
          }
          &:hover {
            &:before {
              background-image: url(./../img/icon-3-active.png);
            }
          }
        }
      }
      &:nth-of-type(4) {
        a {
          &:before {

            background-image: url(./../img/icon-4.png);
          }
          &:hover {
            &:before {
              background-image: url(./../img/icon-4-active.png);
            }
          }
        }
      }
    }
  }
}

