include includes/mixins
doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0")
        title Продукт
        link(rel="stylesheet", href="./dist/css/styles.css")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700')
    body
        header(role='banner').header
            .header-contacts
                ul(role='list')
                    li(role='listitem')
                        a(role='button' href='tel:0445001396') тел.: /044/ 500 13 96
                    li(role='listitem')
                        a(role='button' href='mailto:info@takoma.com.ua') info@takoma.com.ua
            a(href='index.html', role='link', title='На главную').logo
                img(src='./dist/img/logo.png')
            .right-block

                nav.nav(role='navigation')
                    ul(role='list')
                        li(role='listitem')
                            a(href='index.html' role='link' title='Главная')
                                span Главная
                        li(role='listitem').active
                            a(href='case.html' role='link' title='Кейс')
                                span Кейс
                        li(role='listitem')
                            a(href='clients.html' role='link' title='Клиенты')
                                span Клиенты
                        li(role='listitem')
                            a(href='contacts.html' role='link' title='Контакты')
                                span Контакты
        main(role='main').case-page.not-main-page
            .container
                .aside
                    .side-nav
                        ul(role=list)
                            li(role='listitem')
                                a(href='case.html', role='link', title='Реклама на FM') Реклама на FM
                            li(role='listitem')
                                a(href='case-transport-ad.html', role='link', title='Реклама на транспорте') Реклама на транспорте
                            li(role='listitem')
                                a(href='case-subway-ad.html', role='link', title='Реклама в метрополитене') Реклама в метрополитене
                            li(role='listitem')
                                a(href='case-street-ad.html', role='link', title='Наружная реклама') Наружная реклама
                            li(role='listitem')
                                a(href='case-souvenirs-ad.html', role='link', title='Сувенирная продукция') Сувенирная продукция
                            li(role='listitem')
                                a(href='case-polyg-ad.html', role='link', title='Полиграфические изделия') Полиграфические изделия
                            li(role='listitem')
                                a(href='case-btl-ad.html', role='link', title='BTL акции') BTL акции
                            li(role='listitem')
                                a(href='case-press-ad.html', role='link', title='Реклама в прессе') Реклама в прессе
                .bar
                    .case-advertise-block
                        .title Название компании. Название работы
                        .img(style='background-image:url(./dist/img/case/case-1.jpg)')
                        .description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum sunt, quibusdam natus doloribus temporibus, aliquid harum nostrum quia, ducimus dicta perspiciatis quod! Dolor nobis rerum mollitia beatae quidem natus suscipit!

        footer.footer(role='contentinfo')
            .cite Любители глазеть на красочную рекламу, не имеют ничего общего с теми, кто заинтересован в покупке /Клод Хопкинс/
            .footer-side-left
                .logo
                    img(src='./dist/img/logo.png')
                .copyright РМА ТАКОМА. Все права защищены
            .footer-side-right
                .footer-contacts
                    span 03022, г. Киев, ул. Васильковская, 30, оф. 215
                    a(role='button' href='tel:0445001396') тел.: /044/ 500 13 96,
                    a(role='button' href='mailto:info@takoma.com.ua') info@takoma.com.ua
            include includes/scripts