include includes/mixins
doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0")
        title Клиенты
        link(rel="stylesheet", href="./dist/css/styles.css")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700')
    body
        header(role='banner').header
            .header-contacts
                ul(role='list')
                    li(role='listitem')
                        a(role='button' href='tel:0445001396') тел.: /044/ 500 13 96
                    li(role='listitem')
                        a(role='button' href='mailto:info@takoma.com.ua') info@takoma.com.ua
            a(href='index.html', role='link', title='На главную').logo
                img(src='./dist/img/logo.png')
            .right-block
                nav.nav(role='navigation')
                    ul(role='list')
                        li(role='listitem')
                            a(href='index.html' role='link' title='Главная')
                                span Главная
                        li(role='listitem')
                            a(href='case.html' role='link' title='Кейс')
                                span Кейс
                        li(role='listitem').active
                            a(href='clients.html' role='link' title='Клиенты')
                                span Клиенты
                        li(role='listitem')
                            a(href='contacts.html' role='link' title='Контакты')
                                span Контакты
        main(role='main').clients-page.not-main-page
            .container
                .aside
                    .side-nav
                        ul(role=list)
                            li(role='listitem').active
                                a(href='clients.html', role='link', title='Клиенты') Клиенты
                            li(role='listitem')
                                a(href='reviews.html', role='link', title='Отзывы') Отзывы
                .bar
                    .clients
                        +clients('client-1.png')
                        +clients('client-2.png')
                        +clients('client-3.png')
                        +clients('client-4.png')
                        +clients('client-5.png')
                        +clients('client-6.png')
                        +clients('client-7.jpg')
                        +clients('client-8.png')
                        +clients('client-9.png')
                        +clients('client-10.png')
                        +clients('client-11.gif')
                        +clients('client-12.jpg')
                        +clients('client-13.png')
                        +clients('client-14.jpg')
                        +clients('client-15.jpg')
                        +clients('client-16.png')
                        +clients('client-17.png')
                        +clients('client-18.png')
                        +clients('client-19.jpg')
                        +clients('client-20.jpg')
        footer.footer(role='contentinfo')
            .cite Просто делайте хорошую рекламу и деньги придут /Лео Бернетт/
            .footer-side-left
                .logo
                    img(src='./dist/img/logo.png')
                .copyright РМА ТАКОМА. Все права защищены
            .footer-side-right
                .footer-contacts
                    span 03022, г. Киев, ул. Васильковская, 30, оф. 215
                    a(role='button' href='tel:0445001396') тел.: /044/ 500 13 96,
                    a(role='button' href='mailto:info@takoma.com.ua') info@takoma.com.ua
        include includes/scripts