include includes/mixins
doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0")
        title Контакты
        link(rel="stylesheet", href="./dist/css/styles.css")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700')
    body
        header(role='banner').header
            .header-contacts
                ul(role='list')
                    li(role='listitem')
                        a(role='button' href='tel:0445001396') тел.: /044/ 500 13 96
                    li(role='listitem')
                        a(role='button' href='mailto:info@takoma.com.ua') info@takoma.com.ua
            a(href='index.html', role='link', title='На главную').logo
                img(src='./dist/img/logo.png')
            .right-block
                nav.nav(role='navigation')
                    ul(role='list')
                        li(role='listitem')
                            a(href='index.html' role='link' title='Главная')
                                span Главная
                        li(role='listitem')
                            a(href='case.html' role='link' title='Кейс')
                                span Кейс
                        li(role='listitem')
                            a(href='clients.html' role='link' title='Клиенты')
                                span Клиенты
                        li(role='listitem').active
                            a(href='contacts.html' role='link' title='Контакты')
                                span Контакты
        main.contact-page.not-main-page(role='main')
            .container
                .aside
                    .contact-list
                        .main Наш адрес:
                            span 03022, г. Киев
                            span ул. Васильковская, 30, оф. 215

                        .main Наши телефоны:
                            a(href='tel:0445001396', role='link', title='0445001396') /044/ 500 13 96

                        .main E-mail:
                            a(href='mailto:info@takoma.com.ua', role='link', title='info@takoma.com.ua') info@takoma.com.ua
                    a.nav-contact(href='vacances.html', role='link', title='Вакансии') Вакансии
                .bar
                    #map
                    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBlP0GNbkNpsj6iRBNB9jlAF8C7LiQ518g')

        footer.footer(role='contentinfo')
            .cite Многие мелочи стали важными вещами благодаря рекламе /Марк Твен/
            .footer-side-left
                .logo
                    img(src='./dist/img/logo.png')
                .copyright РМА ТАКОМА. Все права защищены
            .footer-side-right
                .footer-contacts
                    span 03022, г. Киев, ул. Васильковская, 30, оф. 215
                    a(role='button' href='tel:0445001396') тел.: /044/ 500 13 96,
                    a(role='button' href='mailto:info@takoma.com.ua') info@takoma.com.ua
        include includes/scripts