include includes/mixins
doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0")
        title Takoma
        link(rel="stylesheet", href="./dist/css/styles.css")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700')
    body
        header(role='banner').header
            .header-contacts
                ul(role='list')
                    li(role='listitem')
                        a(role='button' href='tel:0445001396') тел.: /044/ 500 13 96
                    li(role='listitem')
                        a(role='button' href='mailto:info@takoma.com.ua') info@takoma.com.ua
            a(href='index.html', role='link', title='На главную').logo
                img(src='./dist/img/logo.png')
            .right-block
                nav.nav(role='navigation')
                    ul(role='list')
                        li(role='listitem').active
                            a(href='index.html' role='link' title='Главная')
                                span Главная
                        li(role='listitem')
                            a(href='case.html' role='link' title='Кейс')
                                span Кейс
                        li(role='listitem')
                            a(href='clients.html' role='link' title='Клиенты')
                                span Клиенты
                        li(role='listitem')
                            a(href='contacts.html' role='link' title='Контакты')
                                span Контакты
        .slider-block
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .swiper-content-block
                            .img-wrapper
                                img(src='./dist/img/little-banner-1.png')
                            .img-title Название работы
                                span Краткое описание
                    .swiper-slide
                        .swiper-content-block
                            .img-wrapper
                                img(src='./dist/img/little-banner-2.png')
                            .img-title Название работы 2
                                span Краткое описание 2
                    .swiper-slide
                        .swiper-content-block
                            .img-wrapper
                                img(src='./dist/img/little-banner-3.jpg')
                            .img-title Название работы 3
                                span Краткое описание 3 Краткое описание 3 Краткое описание 3 Краткое описание 3
                    .swiper-slide
                        .swiper-content-block
                            .img-wrapper
                                img(src='./dist/img/little-banner-2.png')
                            .img-title Название работы 4
                                span Краткое описание 4

                .swiper-footer
                    .swiper-pagination

        .container
            .text-content
                .h1 Рекламно-маркетинговое агентство полного цикла  «ТАКОМА»
                p
                    b Наша команда
                    |– профессионалы с многолетним опытом и незапятнанной репутацией. Мы хорошо знаем свое дело, а самое главное  понимаем, что нужно нашим клиентам.
                p
                    b Преимущество
                    |в том, что мы работаем абсолютно по всем направлениям рекламной деятельности,  что позволит клиенту сэкономить свое драгоценное время, при выборе надежного партнера из числа многочисленных подрядчиков и исполнителей. Отзывы наших клиентов можно почитать в разделе Клиенты.
                p
                    b Наша обязанность
                    |поддержать Вас в продвижении своего продукта, а так же помочь Вам увеличить  уровень продаж, сделав это грамотно и быстро. Мы не боимся ответственности и ценим порядочность в отношениях, и никак иначе!
                .cite Цель рекламы состоит не в том, чтобы развлекать зрителя, а в том, чтобы продавать ему товар /Девид Огилви/

        footer.footer(role='contentinfo')
            .footer-side-left
                .logo
                    img(src='./dist/img/logo.png')
                .copyright РМА ТАКОМА. Все права защищены
            .footer-side-right
                .footer-contacts
                    span 03022, г. Киев, ул. Васильковская, 30, оф. 215
                    a(role='button' href='tel:0445001396') тел.: /044/ 500 13 96,
                    a(role='button' href='mailto:info@takoma.com.ua') info@takoma.com.ua
        include includes/scripts