include includes/mixins
doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0")
        title Вакансии
        link(rel="stylesheet", href="./dist/css/styles.css")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700')
    body
        header(role='banner').header
            .header-contacts
                ul(role='list')
                    li(role='listitem')
                        a(role='button' href='tel:0445001396') тел.: /044/ 500 13 96
                    li(role='listitem')
                        a(role='button' href='mailto:info@takoma.com.ua') info@takoma.com.ua
            a(href='index.html', role='link', title='На главную').logo
                img(src='./dist/img/logo.png')
            .right-block
                nav.nav(role='navigation')
                    ul(role='list')
                        li(role='listitem')
                            a(href='index.html' role='link' title='Главная')
                                span Главная
                        li(role='listitem')
                            a(href='case.html' role='link' title='Кейс')
                                span Кейс
                        li(role='listitem')
                            a(href='clients.html' role='link' title='Клиенты')
                                span Клиенты
                        li(role='listitem').active
                            a(href='contacts.html' role='link' title='Контакты')
                                span Контакты
        main(role='main').not-main-page.vacances-page
            .tabs
                .container
                    .aside
                        .aside-title Вакансии
                        ul.tabs
                            li
                                a(href='#tab1') Менеджер по работе с клиентами
                            li
                                a(href='#tab2') Дизайнер
                            li
                                a(href='#tab3') Программист

                    .bar
                        #tab1.tab-content
                            .tab-title Менеджер по работе с клиентами
                            p Нам нужен менеджер по работе с клиентами.
                                br
                                | На конкурсной основе.
                                br
                                | Заработная плата:  ставка + %.
                                br
                                | Полный рабочий день.
                                br
                                | Отправляйте резюме на e-mail anna.takunova@takoma.com.ua
                                br
                                | с указанием "Кадры решают все!" в теме письма.
                                br
                                | Контактное лицо Такунова Анна
                                br
                                | телефон +38 (097) 329 04 73
                        #tab2.tab-content
                            .tab-title Дизайнер
                            p Нам нужен дизайнер
                            ul
                                li На конкурсной основе.
                                li Заработная плата:  ставка + %.
                                li Полный рабочий день.
                                li телефон +38 (097) 329 04 73
                            p Нам нужен дизайнер
                            p Нам нужен менеджер по работе с клиентами.
                                br
                                | На конкурсной основе.
                                br
                                | Заработная плата:  ставка + %.
                                br
                                | Полный рабочий день.
                                br
                                | Отправляйте резюме на e-mail anna.takunova@takoma.com.ua
                                br
                                | с указанием "Кадры решают все!" в теме письма.
                                br
                                | Контактное лицо Такунова Анна
                                br
                                | телефон +38 (097) 329 04 73
                        #tab3.tab-content
                            .tab-title Программист
                            p Нам нужен дизайнер
                            ul
                                li На конкурсной основе.
                                li Заработная плата:  ставка + %.
                                li Полный рабочий день.
                                li телефон +38 (097) 329 04 73
                            p Нам нужен дизайнер
                            p Нам нужен менеджер по работе с клиентами.
                                br
                                | На конкурсной основе.
                                br
                                | Заработная плата:  ставка + %.
                                br
                                | Полный рабочий день.
                                br
                                | Отправляйте резюме на e-mail anna.takunova@takoma.com.ua
                                br
                                | с указанием "Кадры решают все!" в теме письма.
                                br
                                | Контактное лицо Такунова Анна
                                br
                                | телефон +38 (097) 329 04 73
                            p Нам нужен дизайнер
                            ul
                                li На конкурсной основе.
                                li Заработная плата:  ставка + %.
                                li Полный рабочий день.
                                li телефон +38 (097) 329 04 73
                            p Нам нужен дизайнер
                            p Нам нужен менеджер по работе с клиентами.
                                br
                                | На конкурсной основе.
                                br
                                | Заработная плата:  ставка + %.
                                br
                                | Полный рабочий день.
                                br
                                | Отправляйте резюме на e-mail anna.takunova@takoma.com.ua
                                br
                                | с указанием "Кадры решают все!" в теме письма.
                                br
                                | Контактное лицо Такунова Анна
                                br
                                | телефон +38 (097) 329 04 73
                            p Нам нужен дизайнер
                            ul
                                li На конкурсной основе.
                                li Заработная плата:  ставка + %.
                                li Полный рабочий день.
                                li телефон +38 (097) 329 04 73
                            p Нам нужен дизайнер
                            p Нам нужен менеджер по работе с клиентами.
                                br
                                | На конкурсной основе.
                                br
                                | Заработная плата:  ставка + %.
                                br
                                | Полный рабочий день.
                                br
                                | Отправляйте резюме на e-mail anna.takunova@takoma.com.ua
                                br
                                | с указанием "Кадры решают все!" в теме письма.
                                br
                                | Контактное лицо Такунова Анна
                                br
                                | телефон +38 (097) 329 04 73

        footer.footer(role='contentinfo')
            .cite Многие мелочи стали важными вещами благодаря рекламе /Марк Твен/
            .footer-side-left
                .logo
                    img(src='./dist/img/logo.png')
                .copyright РМА ТАКОМА. Все права защищены
            .footer-side-right
                .footer-contacts
                    span 03022, г. Киев, ул. Васильковская, 30, оф. 215
                    a(role='button' href='tel:0445001396') тел.: /044/ 500 13 96,
                    a(role='button' href='mailto:info@takoma.com.ua') info@takoma.com.ua
        include includes/scripts