// middle vertical
@mixin middle-vertical(){
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}

// middle horizontal
@mixin middle-horizontal(){
  position: absolute;
  left:50%;
  transform: translateX(-50%);
}

// middle center
@mixin middle-center(){
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

@mixin img-responsive($display: block) {
  display: $display;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}

@mixin list-unstyled(){
  padding-left: 0;
  list-style: none;
}

@mixin has-color($bg-color,$color){
  background-color: $bg-color;
  color: $color;
}

// round border radius
@mixin round($radius:50%){
  border-radius: 50%;
}

// border-color
@mixin border-color($color){
  border-color: $color;
}

// border-colors
@mixin border-color($border-color){
  border: 1px solid $border-color;
}

@mixin container{
  @include outer-container(100%);

  @include max-sm{
    padding-right: 12px;
    padding-left: 12px;
  }

  @include sm{
    @include outer-container(720px);
  }

  @include md{
    @include outer-container(905px);
  }

}

@mixin size-reset{
  margin: 0;
  padding: 0;
}