@mixin xs{
  @media screen and (min-width: #{$xs}){
    @content;
  }
}

@mixin xs-landscape{
  @media screen and (min-width: #{$xs-landscape}){
    @content;
  }
}
@mixin max-xs-landscape{
    @media screen and (max-width: #{$xs-landscape}){
        @content;
    }
}


// min-width small screen / tablets
@mixin sm{
    @media screen and (min-width: #{$sm}){
        @content;
    }
}
@mixin tablet{
    @media screen and (min-width: #{$sm + 1}){
        @content;
    }
}
@mixin tablet-max{
    @media screen and (max-width: #{$sm - 1}){
        @content;
    }
}

// min-width medium screen / desktop
@mixin md{
  @media screen and (min-width: #{$md}){
    @content;
  }
}

// min-width large screen / wide desktop
@mixin lg{
  @media screen and (min-width: #{$lg}){
    @content;
  }
}
@mixin xlg{
  @media screen and (min-width: #{$xlg}){
    @content;
  }
}

//Mobile first invert
//**All media-queries -> max-width

// max-width extra small screen / phone
@mixin max-xs{
  @media screen and (max-width: #{$xs}){
    @content;
  }
}
@mixin max-xs-landscape{
  @media screen and (max-width: #{$xs-landscape}){
    @content;
  }
}

// max-width small screen / tablets
@mixin max-sm{
  @media screen and (max-width: #{$pre-sm}){
    @content;
  }
}

// max-width medium screen / desktop
@mixin max-md{
  @media screen and (max-width: #{$md}){
    @content;
  }
}

// max-width large screen / wide desktop
@mixin max-lg{
  @media screen and (max-width: #{$lg}){
    @content;
  }
}

// max-width xlarge screen / wide desktop
@mixin max-xlg{
  @media screen and (max-width: #{$xlg}){
    @content;
  }
}

//In-between media-queries
//**All media-rules -> min-width - max-width
// in order
@mixin xs-sm{
  @media (min-width: #{$xs}) and (max-width: #{$sm}){
    @content;
  }
}

@mixin sm-md{
  @media (min-width: #{$sm}) and (max-width: #{$md}){
    @content;
  }
}


@mixin md-lg{
  @media (min-width: #{$md}) and (max-width: #{$lg}){
    @content;
  }
}

@mixin lg-xlg{
  @media (min-width: #{$lg}) and (max-width: #{$xlg}){
    @content;
  }
}


//variantly
@mixin xs-md{
  @media (min-width: #{$xs}) and (max-width: #{$md}){
    @content;
  }
}

@mixin xs-lg{
  @media (min-width: #{$xs}) and (max-width: #{$lg}){
    @content;
  }
}

@mixin xs-xlg{
  @media (min-width: #{$xs}) and (max-width: #{$xlg}){
    @content;
  }
}

@mixin sm-lg{
  @media (min-width: #{$sm}) and (max-width: #{$lg}){
    @content;
  }
}

@mixin sm-xlg{
  @media (min-width: #{$sm}) and (max-width: #{$xlg}){
    @content;
  }
}

//sm -1px
@mixin max-xs-pre{
  @media screen and (max-width: #{$xs - 1}){
    @content;
  }
}

//md -1px
@mixin max-sm-pre{
  @media screen and (max-width: #{$sm - 1}){
    @content;
  }
}

//lg -1px
@mixin max-md-pre{
  @media screen and (max-width: #{$md - 1}){
    @content;
  }
}
